<% layout('layouts/boilerplate') %>
<div class="container justify-content-center align-items-center mt-5">
    <div class="row">
         <div class=" col-md-6 offset-md-3 ">
              <div class=" card shadow">
                   <img src="https://res.cloudinary.com/dpo8txthu/image/upload/v1684621594/YelpCamp/e23t8wtmunvawmpikpxf.jpg" alt="" class="card-img-top">
                   <div class="card-body">
                        <h5 class="card-title text-center">Register</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                             <div class="mb-3">
                                       <label class="form-label" for="username">Username</label>
                                       <input class="form-control" type="text" name="username" id="username" autofocus required>
                             </div>
                             <div class="mb-3">
                                <label class="form-label" for="email">E-mail</label>
                                <input class="form-control" type="email" name="email" id="email" required>
                            </div>
                             <div class="mb-3">
                                       <label class="form-label" for="location">Password</label>
                                       <input class="form-control" type="password" name="password" id="password" required>
                             </div>
                             <p>Already Have an Account? <a href="/login">Login!</a></p>
                             <button class="btn btn-success">Login</button> 
                   </form>
                   </div>
              </div>
         </div>

         